Repository zopiya/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, template-check

shellcheck:
  run: shellcheck {staged_files}

template-check:
  run: "for file in {staged_files}; do\n  if ! chezmoi execute-template < \"$file\" > /dev/null 2>&1; then\n    echo \"Template error: $file\"\n    exit 1\n  fi\ndone\n"

fix: correct argument syntax in merge command and update CI workflow comments for clarity
  .chezmoi.toml.tmpl
  .github/workflows/test.yml
Due: template-check

fix: streamline package installation process and improve error handling in scripts
  .chezmoiscripts/run_once_install_brew_packages.sh.tmpl
  .github/workflows/test.yml
  bootstrap.sh
  justfile
Due: shellcheck, template-check

fix: set HOME environment variable for testuser in CI workflow steps
  .github/workflows/test.yml
Due: none

fix: update CI workflow to replace Ubuntu with Debian matrix and adjust user setup steps
  .github/workflows/test.yml
Due: none

feat: update Brewfiles with enhanced CLI tools, AI-assisted development, and improved documentation
  packages/Brewfile.codespace
  packages/Brewfile.core
  packages/Brewfile.linux
  packages/Brewfile.macos
  packages/Brewfile.server
  packages/README.md
Due: none

feat: reorganize floating panes in Zellij layouts for proper parsing and accessibility
  dot_config/zellij/layouts/base.kdl
  dot_config/zellij/layouts/dev.kdl
  dot_config/zellij/layouts/ops.kdl
Due: none

feat: enhance SSH config template with conditional identity file for workstation profile; add comment for clarity on key usage
  dot_config/zsh/functions.zsh
  private_dot_ssh/config.tmpl
Due: template-check

Refactor Brewfiles: Consolidate packages into Core, streamline macOS and Linux configurations
  .github/workflows/CI_TESTING_GUIDE.md
  .github/workflows/WORKFLOW_STRUCTURE.md
  .github/workflows/ci.yml
  .github/workflows/test-justfile.yml
  .github/workflows/test-platforms.yml
  .github/workflows/test-quality.yml
  .github/workflows/test.yml.old
  CI_ENHANCEMENT_SUMMARY.md
  JUSTFILE_GUIDE.md
  PACKAGE_AUDIT_REPORT.md
  PACKAGE_OPTIMIZATION_SUMMARY.md
  README.md
  WORKFLOW_REFACTOR_SUMMARY.md
  bootstrap.sh
  justfile
  packages/Brewfile.core
  packages/Brewfile.linux
  packages/Brewfile.macos
  packages/README.md
Due: shellcheck

docs: add comprehensive tools list for Home Up project with usage instructions and configurations
  CI_ENHANCEMENT_SUMMARY.md
  JUSTFILE_GUIDE.md
  PACKAGE_AUDIT_REPORT.md
  PACKAGE_OPTIMIZATION_SUMMARY.md
  README.md
  REFACTOR_PLAN.md
  WORKFLOW_REFACTOR_SUMMARY.md
  docs/README.md
  docs/architecture.md
  docs/best-practices.md
  docs/guide.md
  docs/tools.md
Due: none

Update Justfile for version 2.1: Enhance help text, add new tasks, and improve profile management
  bootstrap.sh
  justfile
Due: shellcheck

refactor: streamline current step increment logic in bootstrap script
  .github/workflows/CI_TESTING_GUIDE.md
  .github/workflows/WORKFLOW_STRUCTURE.md
  bootstrap.sh
Due: shellcheck

chore: update bootstrap script to version 6.2.0; enhance validation and logging features
  bootstrap.sh
Due: shellcheck

refactor: update package validation job to run on macOS; streamline Homebrew installation and usage steps
  .github/workflows/test-platforms.yml
  .github/workflows/test-quality.yml
Due: none

refactor: enhance CI workflows by inheriting secrets and improving test failure handling; remove deprecated test workflow
  .github/workflows/ci.yml
  .github/workflows/test-platforms.yml
  .github/workflows/test-quality.yml
  .github/workflows/test.yml.old
Due: none

refactor: streamline bootstrap script and platform tests; enhance dependency installation for Debian and Fedora
  .github/workflows/test-platforms.yml
  bootstrap.sh
Due: shellcheck

refactor: consolidate bootstrap and apply steps in platform tests; streamline profile handling
  .github/workflows/test-platforms.yml
Due: none

refactor: update Homebrew installation process and enhance error reporting; streamline caching and permissions setup
  .github/workflows/test-platforms.yml
  bootstrap.sh
  packages/Brewfile.macos
Due: shellcheck

refactor: update macOS Keychain integration in SSH config; streamline IgnoreUnknown settings
  private_dot_ssh/config.tmpl
Due: template-check

feat: add Ghostty terminal setup guide and configuration template
  docs/GHOSTTY_REMOTE_GUIDE.md
  docs/GHOSTTY_SETUP.md
  dot_config/ghostty/config.tmpl
Due: template-check

refactor: rename documentation files to unified Chinese titles with numeric prefixes
  docs/01_Chezmoi完整指南.md
  docs/02_Direnv完整指南.md
  docs/03_Just任务运行器完整指南.md
  docs/04_Git_SSH签名完整指南.md
  docs/10_Neovim完整指南.md
  docs/11_Neovim_LSP多语言指南.md
  docs/12_VS_Code配置文件完整指南.md
  docs/13_Lazygit完整指南.md
  docs/20_Shell环境配置指南.md
  docs/21_Sheldon插件深度指南.md
  docs/22_Zellij完整指南.md
  docs/23_Tmux完整指南.md
  docs/30_Homebrew包管理完整指南.md
  docs/31_YubiKey_FIDO2安全指南.md
  docs/32_Lefthook_Git钩子完整指南.md
  docs/40_多机器同步与备份完整指南.md
  docs/41_现代开发工作流完整指南.md
  docs/42_Mise版本管理指南.md
  docs/50_文档风格指南.md
  docs/51_故障排查与常见问题.md
  docs/52_架构设计文档.md
  docs/53_最佳实践指南.md
  docs/54_工具清单.md
  docs/55_文档评估报告.md
  docs/60_Ghostty安装配置指南.md
  docs/61_Ghostty远程使用指南.md
Due: none

feat: complete phase 2 project enhancement - add contribution guidelines and integration scenarios
  CONTRIBUTING.md
  VERSION
  VERSION_STRATEGY.md
  docs/80_实战集成场景指南.md
  scripts/update-version.sh
Due: shellcheck

refactor: reorganize and clarify Brewfile sections for better readability
  packages/Brewfile.bootstrap
  packages/Brewfile.core
  packages/Brewfile.macos
Due: none

refactor: update Brewfile sections for improved organization and clarity
  packages/Brewfile.macos
Due: none

feat: add new applications to Brewfile for enhanced functionality
  packages/Brewfile.macos
Due: none

Path conditions:
  shellcheck: any of: *.sh
  template-check: any of: *.tmpl
